In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import os
# Importing Libraries

In [4]:
data = pd.read_csv("D:Maged/countries/countries of the world.csv")

In [5]:
data.head()
# List of data

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [6]:
data.info()
# Data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    object
 5   Coastline (coast/area ratio)        227 non-null    object
 6   Net migration                       224 non-null    object
 7   Infant mortality (per 1000 births)  224 non-null    object
 8   GDP ($ per capita)                  226 non-null    float64
 9   Literacy (%)                        209 non-null    object
 10  Phones (per 1000)                   223 non-null    object
 11  Arable (%)                          225 non-null    object
 12  Crops (%)                           225 non-null    object
 13  Other (%)                           225 non-null    object
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(1), int64(2), object(17)
memory usage: 20.5+ KB

In [7]:
data.drop(columns={'Service','Industry'}, inplace=True)
# drop uncesssary columns in the dataset

In [8]:
data.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN

In [9]:
data.describe()

         Population  Area (sq. mi.)  GDP ($ per capita)
count  2.270000e+02    2.270000e+02          226.000000
mean   2.874028e+07    5.982270e+05         9689.823009
std    1.178913e+08    1.790282e+06        10049.138513
min    7.026000e+03    2.000000e+00          500.000000
25%    4.376240e+05    4.647500e+03         1900.000000
50%    4.786994e+06    8.660000e+04         5550.000000
75%    1.749777e+07    4.418110e+05        15700.000000
max    1.313974e+09    1.707520e+07        55100.000000

In [10]:
data.Population.max()
# Highest population in this dataset.

1313973713

In [11]:
data.Population.min()
# lowest population in this dataset.

7026

In [13]:
data = pd.read_csv('D:Maged/countries/countries of the world.csv', decimal=',')
print('Number of missing data "MD" :')
print(data.isnull().sum())
data.describe(include='all')
# Number of missing data in the dataset.

Number of missing data "MD" :
Country                                0
Region                                 0
Population                             0
Area (sq. mi.)                         0
Pop. Density (per sq. mi.)             0
Coastline (coast/area ratio)           0
Net migration                          3
Infant mortality (per 1000 births)     3
GDP ($ per capita)                     1
Literacy (%)                          18
Phones (per 1000)                      4
Arable (%)                             2
Crops (%)                              2
Other (%)                              2
Climate                               22
Birthrate                              3
Deathrate                              4
Agriculture                           15
Industry                              16
Service                               15
dtype: int64

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
count,227,227,2.270000e+02,2.270000e+02,227.000000,227.000000,224.000000,224.000000,226.000000,209.000000,223.000000,225.000000,225.000000,225.000000,205.000000,224.000000,223.000000,212.000000,211.000000,212.000000
unique,227,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Lithuania,SUB-SAHARAN AFRICA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,2.874028e+07,5.982270e+05,379.047137,21.165330,0.038125,35.506964,9689.823009,82.838278,236.061435,13.797111,4.564222,81.638311,2.139024,22.114732,9.241345,0.150844,0.282711,0.565283
std,NaN,NaN,1.178913e+08,1.790282e+06,1660.185825,72.286863,4.889269,35.389899,10049.138513,19.722173,227.991829,13.040402,8.361470,16.140835,0.699397,11.176716,4.990026,0.146798,0.138272,0.165841
min,NaN,NaN,7.026000e+03,2.000000e+00,0.000000,0.000000,-20.990000,2.290000,500.000000,17.600000,0.200000,0.000000,0.000000,33.330000,1.000000,7.290000,2.290000,0.000000,0.020000,0.062000
25%,NaN,NaN,4.376240e+05,4.647500e+03,29.150000,0.100000,-0.927500,8.150000,1900.000000,70.600000,37.800000,3.220000,0.190000,71.650000,2.000000,12.672500,5.910000,0.037750,0.193000,0.429250
50%,NaN,NaN,4.786994e+06,8.660000e+04,78.800000,0.730000,0.000000,21.000000,5550.000000,92.500000,176.200000,10.420000,1.030000,85.700000,2.000000,18.790000,7.840000,0.099000,0.272000,0.571000
75%,NaN,NaN,1.749777e+07,4.418110e+05,190.150000,10.345000,0.997500,55.705000,15700.000000,98.000000,389.650000,20.000000,4.440000,95.440000,3.000000,29.820000,10.605000,0.221000,0.341000,0.678500
max,NaN,NaN,1.313974e+09,1.707520e+07,16271.500000,870.660000,23.060000,191.190000,55100.000000,100.000000,1035.600000,62.110000,50.680000,100.000000,4.000000,50.730000,29.740000,0.769000,0.906000,0.954000

In [14]:
data.groupby('Region')[['GDP ($ per capita)', 'Literacy (%)', 'Agriculture']].median()
#  Filling the missing data using the median of the region that a country belongs "From Kaggle Notebook"

,GDP ($ per capita),Literacy (%),Agriculture
Region,,,
ASIA (EX. NEAR EAST),3450.0,90.60,0.1610
BALTICS,11400.0,99.80,0.0400
C.W. OF IND. STATES,3450.0,99.05,0.1980
EASTERN EUROPE,9100.0,98.60,0.0815
LATIN AMER. & CARIB,6300.0,94.05,0.0700
NEAR EAST,9250.0,83.00,0.0350
NORTHERN AFRICA,6000.0,70.00,0.1320
NORTHERN AMERICA,29800.0,97.50,0.0100
OCEANIA,5000.0,95.00,0.1505
SUB-SAHARAN AFRICA,1300.0,62.95,0.2760
WESTERN EUROPE,27200.0,99.00,0.0220

In [15]:
for col in data.columns.values:
    if data[col].isnull().sum() == 0:
        continue
    if col == 'Climate':
        guess_values = data.groupby('Region')['Climate'].apply(lambda x: x.mode().max())
    else:
        guess_values = data.groupby('Region')[col].median()
    for region in data['Region'].unique():
        data[col].loc[(data[col].isnull())&(data['Region']==region)] = guess_values[region]

C:\Users\Dell\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [16]:
print(data.isnull().sum())
# All missing values are filled successfully.

Country                               0
Region                                0
Population                            0
Area (sq. mi.)                        0
Pop. Density (per sq. mi.)            0
Coastline (coast/area ratio)          0
Net migration                         0
Infant mortality (per 1000 births)    0
GDP ($ per capita)                    0
Literacy (%)                          0
Phones (per 1000)                     0
Arable (%)                            0
Crops (%)                             0
Other (%)                             0
Climate                               0
Birthrate                             0
Deathrate                             0
Agriculture                           0
Industry                              0
Service                               0
dtype: int64

In [29]:
data.loc[(data['Deathrate']>20) & (data['GDP ($ per capita)'] < 15000)]
# The relationship between High "Deathrate" and "GDP ($ per capita)".

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
5,Angola,SUB-SAHARAN AFRICA,12127071,1246700,9.7,0.13,0.00,191.19,1900.0,42.0,7.8,2.41,0.24,97.35,2.0,45.11,24.20,0.096,0.658,0.246
26,Botswana,SUB-SAHARAN AFRICA,1639833,600370,2.7,0.00,0.00,54.58,9000.0,79.8,80.5,0.65,0.01,99.34,1.0,23.08,29.50,0.024,0.469,0.507
116,Lesotho,SUB-SAHARAN AFRICA,2022331,30355,66.6,0.00,-0.74,84.23,3000.0,84.8,23.7,10.87,0.13,89.00,3.0,24.75,28.71,0.163,0.443,0.394
117,Liberia,SUB-SAHARAN AFRICA,3042004,111370,27.3,0.52,0.00,128.87,1000.0,57.5,2.3,3.95,2.28,93.77,2.0,44.77,23.10,0.769,0.054,0.177
142,Mozambique,SUB-SAHARAN AFRICA,19686505,801590,24.6,0.31,0.00,130.79,1200.0,47.8,3.5,5.10,0.30,94.60,2.0,35.18,21.35,0.262,0.348,0.390
151,Niger,SUB-SAHARAN AFRICA,12525094,1267000,9.9,0.00,-0.67,121.69,800.0,17.6,1.9,3.54,0.01,96.45,1.0,50.73,20.91,0.390,0.170,0.440
183,Sierra Leone,SUB-SAHARAN AFRICA,6005250,71740,83.7,0.56,0.00,143.64,500.0,31.4,4.0,6.98,0.89,92.13,2.0,45.76,23.03,0.490,0.310,0.210
189,South Africa,SUB-SAHARAN AFRICA,44187637,1219912,36.2,0.23,-0.29,61.81,10700.0,86.4,107.0,12.08,0.79,87.13,1.0,18.20,22.00,0.025,0.303,0.671
194,Swaziland,SUB-SAHARAN AFRICA,1136334,17363,65.5,0.00,0.00,69.27,4900.0,81.6,30.8,10.35,0.70,88.95,2.5,27.41,29.74,0.119,0.515,0.366
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579

In [26]:
data.loc[(data['Climate']<10) & (data['GDP ($ per capita)'] < 15000)]
# The relationship between "Climate" and "GDP ($ per capita)". Climate could affect the crops and so the GDP.

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.3800,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.2320,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.1010,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,0.1505,0.171,0.644
5,Angola,SUB-SAHARAN AFRICA,12127071,1246700,9.7,0.13,0.00,191.19,1900.0,42.0,7.8,2.41,0.24,97.35,2.0,45.11,24.20,0.0960,0.658,0.246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,83.0,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.0900,0.280,0.630
223,Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,-0.39,31.00,6000.0,70.0,123.6,0.02,0.00,99.98,1.0,21.98,5.13,0.1320,0.357,0.400
224,Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.1350,0.472,0.393
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.2200,0.290,0.489
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.1790,0.243,0.579

In [32]:
data.loc[(data['Crops (%)']>10) & (data['GDP ($ per capita)'] < 15000)]
# The relationship between High "Crops" and "GDP ($ per capita)". More Crops = more food. more food reserve could affect the GDP.

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,0.1505,0.171,0.644
33,Burundi,SUB-SAHARAN AFRICA,8090068,27830,290.7,0.00,-0.06,69.29,600.0,51.6,3.4,35.05,14.02,50.93,2.0,42.22,13.46,0.4630,0.203,0.334
44,Comoros,SUB-SAHARAN AFRICA,690948,2170,318.4,15.67,0.00,74.93,700.0,56.5,24.5,35.87,23.32,40.81,2.0,36.93,8.20,0.4000,0.040,0.560
47,Cook Islands,OCEANIA,21388,240,89.1,50.00,0.00,12.62,5000.0,95.0,289.9,17.39,13.04,69.57,2.0,21.00,5.69,0.1510,0.096,0.753
49,Cote d'Ivoire,SUB-SAHARAN AFRICA,17654843,322460,54.8,0.16,-0.07,90.83,1400.0,50.9,14.6,9.75,13.84,76.41,2.0,35.11,14.84,0.2790,0.171,0.550
56,Dominica,LATIN AMER. & CARIB,68910,754,91.4,19.63,-13.87,14.15,5400.0,94.0,304.8,6.67,20.00,73.33,2.0,15.27,6.73,0.1770,0.328,0.495
57,Dominican Republic,LATIN AMER. & CARIB,9183984,48730,188.5,2.64,-3.22,32.38,6000.0,84.7,97.4,22.65,10.33,67.02,2.0,23.22,5.73,0.1120,0.306,0.582
61,El Salvador,LATIN AMER. & CARIB,6822378,21040,324.3,1.46,-3.74,25.10,4800.0,80.2,142.4,31.85,12.07,56.08,2.0,26.61,5.78,0.0990,0.302,0.599
74,Gaza Strip,NEAR EAST,1428757,360,3968.8,11.11,1.60,22.93,600.0,83.0,244.3,28.95,21.05,50.00,3.0,39.45,3.80,0.0300,0.283,0.687
81,Grenada,LATIN AMER. & CARIB,89703,344,260.8,35.17,-13.92,14.62,5000.0,98.0,364.5,5.88,29.41,64.71,2.0,22.08,6.88,0.0540,0.180,0.766
89,Haiti,LATIN AMER. & CARIB,8308504,27750,299.4,6.38,-3.40,73.45,1600.0,52.9,16.9,28.30,11.61,60.09,2.0,36.44,12.17,0.2800,0.200,0.520
102,Jamaica,LATIN AMER. & CARIB,2758124,10991,250.9,9.30,-4.92,12.36,3900.0,87.9,124.0,16.07,10.16,73.77,2.0,20.82,6.52,0.0490,0.337,0.615
108,Kiribati,OCEANIA,105432,811,130.0,140.94,0.00,48.52,800.0,95.0,42.7,2.74,50.68,46.58,2.0,30.65,8.26,0.0890,0.242,0.668
115,Lebanon,NEAR EAST,3874050,10400,372.5,2.16,0.00,24.52,4800.0,87.4,255.6,16.62,13.98,69.40,1.0,18.52,6.21,0.1200,0.210,0.670
126,Malaysia,ASIA (EX. NEAR EAST),24385858,329750,74.0,1.42,0.00,17.70,9000.0,88.7,179.0,5.48,17.61,76.91,2.0,22.86,5.05,0.0840,0.480,0.436
127,Maldives,ASIA (EX. NEAR EAST),359008,300,1196.7,214.67,0.00,56.52,3900.0,97.2,90.0,13.33,16.67,70.00,2.0,34.81,7.06,0.2000,0.180,0.620
130,Marshall Islands,OCEANIA,60422,11854,5.1,3.12,-6.04,29.45,1600.0,93.7,91.2,16.67,38.89,44.44,2.0,33.05,4.78,0.3170,0.149,0.534
136,"Micronesia, Fed. St.",OCEANIA,108004,702,153.9,870.66,-20.99,30.21,2000.0,89.0,114.8,5.71,45.71,48.58,2.0,24.68,4.75,0.2890,0.152,0.559
137,Moldova,C.W. OF IND. STATES,4466706,33843,132.0,0.00,-0.26,40.42,1800.0,99.1,208.1,55.30,10.79,33.91,4.0,15.70,12.64,0.2130,0.233,0.555
162,Philippines,ASIA (EX. NEAR EAST),89468677,300000,298.2,12.10,-1.50,23.51,4600.0,92.6,38.4,18.95,16.77,64.28,2.0,24.89,5.41,0.1440,0.326,0.530
170,Rwanda,SUB-SAHARAN AFRICA,8648248,26338,328.4,0.00,0.00,91.23,1300.0,70.4,2.7,40.54,12.16,47.30,3.0,40.37,16.09,0.4010,0.229,0.370
173,Saint Lucia,LATIN AMER. & CARIB,168458,616,273.5,25.65,-2.67,13.53,5400.0,67.0,303.3,6.56,22.95,70.49,2.0,19.68,5.08,0.0700,0.200,0.730
175,Saint Vincent and the Grenadines,LATIN AMER. & CARIB,117848,389,303.0,21.59,-7.64,14.78,2900.0,96.0,190.9,17.95,17.95,64.10,2.0,16.18,5.98,0.1000,0.260,0.640
176,Samoa,OCEANIA,176908,2944,60.1,13.69,-11.70,27.71,5600.0,99.7,75.2,21.20,24.38,54.42,2.0,16.43,6.62,0.1140,0.584,0.302
178,Sao Tome & Principe,SUB-SAHARAN AFRICA,193413,1001,193.2,20.88,-2.72,43.11,1200.0,79.3,36.2,6.25,48.96,44.79,2.0,40.25,6.47,0.1670,0.148,0.684
182,Seychelles,SUB-SAHARAN AFRICA,81541,455,179.2,107.91,-5.69,15.53,7800.0,58.0,262.4,2.22,13.33,84.45,2.0,16.03,6.29,0.0320,0.304,0.665
191,Sri Lanka,ASIA (EX. NEAR EAST),20222240,65610,308.2,2.04,-1.31,14.35,3700.0,92.3,61.5,13.86,15.70,70.44,2.0,15.51,6.52,0.1780,0.276,0.545
203,Tonga,OCEANIA,114689,748,153.3,56.02,0.00,12.62,2200.0,98.5,97.7,23.61,43.06,33.33,2.0,25.37,5.28,0.2300,0.270,0.500
205,Tunisia,NORTHERN AFRICA,10175014,163610,62.2,0.70,-0.57,24.77,6900.0,74.2,123.6,17.86,13.74,68.40,3.0,15.52,5.13,0.1320,0.318,0.550
210,Uganda,SUB-SAHARAN AFRICA,28195754,236040,119.5,0.00,0.00,67.83,1400.0,69.9,3.6,25.88,10.65,63.47,2.0,47.35,12.24,0.3110,0.222,0.469
221,Wallis and Futuna,OCEANIA,16025,274,58.5,47.08,0.00,12.62,3700.0,50.0,118.6,5.00,25.00,70.00,2.0,22.32,5.69,0.1505,0.171,0.644
222,West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,83.0,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.0900,0.280,0.630

In [ ]:
# Thanks!!